:root {
  --header-height: 64px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: var(--header-height) 24px 24px;
}

.page-header {
  display: flex;
  justify-content: space-between;
  padding: 24px 0;
  font-size: 24px;
}
